.sidebar{
    flex: 2;
    height: calc(1000vh - 50px);
    border-right: 1px solid rgb(0, 0, 0);

 }
.sidebarWrapper{
    padding: 2rem;
    margin-left: 20px;    
}

.home{
    margin:0;

}
.next{
    margin-top: -20px;
}

.spotify{
    height: 60px;
    width: 60px;
    border-radius:90%;
    object-fit: cover;
    

}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 2.5px solid rgb(138, 134, 134);
}
/* .sidebarList :hover {
    height: 35px;
    width: 65px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: gray;
    cursor: pointer;
} */
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.main{
    margin-top: 10px;
}

.sidebarIcon{
    margin-right:18px;
} 

.sidebarHr{
    margin: 20px 0;
}
.sidebarSongList{
    padding: 0;
    margin: 0;
    list-style: none;
}


.sidebarSong{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}



.sidebarFriendImg{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor:pointer;
}